body{
    font-size:14px;
    height:100%;
} 
.payment_method_migpaymentspayments img{
    margin-top: 10px;
    
    max-height: 55px;
}
.payment_method_migpaymentspayments{
    display: flex;
    align-items: center;
}
#wc-migpayments-address-qr-code{
    margin-left: -15px;
    max-width: 180px;
    max-height: 180px;
}
 
#wc-migpayments-crypto-estimate-wrapper{
    margin-top: 0.5rem;
    margin-bottom:2rem;
   
}
#wc-migpayments-crypto-estimate-wrapper .wc-migpayments-currency-symbol{
    font-weight: bold;
}

.wc-migpayments-crypto-estimate-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

   
.wc-migpayments-crypto-address-wrapper, .wc-migpayments-crypto-amount-wrapper{
    padding-left: 15px;;
    padding-right: 15px;;
    padding-top: 10px;
}
#wc-mipgpayments-partial-payments{
      
    padding-top: 10px;
    margin-top: 15px;;
}

 
.wc-migpayments-order-card {
    margin-bottom: 1rem;
    padding-bottom: 1rem; 
}

.wc-migpayments-payment-currency, .wc-migpayments-payment-blockchain{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wc-migpayments-payment-blockchain{
    margin-top:10px;
    display: none;
}

.wc-migpayments-payment-currency p, .wc-migpayments-payment-blockchain p{
    margin-bottom: 0px;
    text-align: justify;
}
.wc-migpayments-payment-currency h6, .wc-migpayments-payment-blockchain h6{
    color: #f7981d;
}
.wc-payment-data-item{
    margin-bottom: 10px;
    
   
   
}
.wc-payment-data-item p{
    color:#333;
    font-weight: bold;
    word-break: break-all;
}
.wc-migpayments-order-item {
    display: flex;
    justify-content: space-between;
  
    
}
#wc-migpayments-subtotal{
    margin-top: 0.5rem;
}
.wc-migpayments-order-item a{
    text-decoration: none;
    color:#3A4E5E;
}
.wc-migpayments-order-title{
    
    font-weight: 600;
    font-size:16px;
    text-align: left;
 }
.wc-migpayments-order-title .price{
    color:#f7981d;
    font-size: 1.6rem;
    position: relative;
    top: -10px;
    font-weight: 400;
    margin-bottom: 0px;
}
.wc-migpayments-order-title h1{
   
}
.wc-migpayments-card-meta{
    margin-bottom: 30px;
}
.wc-migpayments-meta {
    font-size: 12px;
    font-weight: 600;
    
}
.wc-migpayments-order-total{
    padding: 10px 15px;;
    border-top: 1px solid #a8a8a8;
    background-color: #eaeaea;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 100%;
    display:flex;
    justify-content: space-between;
    font-weight: 600;
}

.wc-migpayments-hr{
    margin-top: 0.5rem;
    border-top: 1px solid #CED3D7;
}
.wc-migpayments-payment-data-title{
    text-align: left;
    padding: 0 15px;;
}
.wc-migpayments-payment-data-title > p{
    font-weight: bold;
    margin-bottom: 2px;
}
 
#wc-migpayments-review-order-button{
    background-color: black !important;
    color: white;
}
.back-button+.wc-migpayments-order-title{
    margin-top: 15px;;
}
 
.wc-migpayments-footer-links a{
    color: #aaa;
    
}
.wc-migpayments-primary-btn {
   margin-top: 2rem;
    color: white !important; 
    background-color: #f7981d;
    border:1px solid #f7981d;
    text-transform: capitalize !important;
    outline: none;
    padding: 0.5rem 1.25rem;
   box-shadow:none;
   font-size: 1rem;
    border-radius: 10px;
    font-weight: bold;
}	
.wc-migpayments-primary-btn:disabled{
    background-color: #f1c893;
    border-color: #f1c893;
}
button.wc-migpayments-copy-btn {
    font-size: 12px !important;
    padding: unset;
    color: white !important; 
    background-color: #f7981d;
    text-transform: capitalize !important;
    
    padding: 0.5rem 1.25rem;
    float:right !important;
    border:none;
    border-radius: 10px;
}	

button.wc-migpayments-copy-btn:active {
    background-color: orange;
}
.wc-migpayments-cancel-btn {
    font-size: 12px !important;
    text-decoration: none;
    padding: unset;
    color: #0a2236 !important; 
    
    text-transform: capitalize !important;
    height: 30px;;
    padding: 0rem 1.25rem;
    border:none;
    font-weight: 500;
    border-radius: 10px;
    display: inline-flex;
    align-items: center;
}		 
#wc-actions{
    text-align: center;
}

.wc-migpayments-copy-to-clipboard {
    text-align: end !important;
    float: right;
}
span.wc-migpayments-copy-to-clipboard:hover {
    cursor: pointer;
}

span.wc-migpayments-crypto-amount-label {
    font-size: 16px;
    font-weight: 600;
}
span.wc-migpayments-crypto-address-label {
    font-size: 16px;
    font-weight: 600;
}
div#wc-migpayments-right-column {
    margin: 0px auto;
    background: #eeeeee;
    padding-top: 15px;;
    border-radius: 10px;
    padding-top: 15px;;
    padding-bottom: 15px;
    margin-bottom: 30px;;
}
#wc-payment-wrapper{
    height: 100vh;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
#wc-payment-data-container{
    display: block;
    color:#3A4E5E;
    font-family: 'Montserrat', sans-serif;
    
    opacity: 1;
   
}
 .text-left{
    text-align: left;
 }
#wc-payment-data-container.hide{
  display: none;
}
.wc-migpayments-payment-items{
    margin-left:30px;;
    text-align: left;
    padding-top:10px;
}
.wc-migpayments-payment-item{

    display:flex;
    justify-content:space-between;
    flex-wrap: wrap;
    align-items: center;
}
div.wc-migpayments-payment-data {
    margin: unset !important;
    color:#3A4E5E;
    text-align: center;
    display:flex;justify-content:space-between;
}
.wc-migpayments-crypto-address-wrapper {
    border-bottom: 1px solid #6d6d6d6d;
    padding-bottom: 10px;
}
.wc-migpayments-crypto-amount-wrapper {
    padding-bottom: 10px;
    border-bottom: 1px solid #6d6d6d6d;}
 
i.afg_copyicon.fa.fa-clone {
    margin-right: 7px;
}
span.wc-migpayments-copy-to-clipboard {
    float: right;
} 
 
#wc-migpayments-info-box{
    padding:1rem;
    padding-top: 0px;
    text-align: justify;
    color:red;

}
#wc-migpayments-info-box p{
    margin-bottom: 0px;
}
#wc-migpayments-info-box a{
    font-weight: bold;
    color:#000000;
}

.wc-migpayments-order-info-box{
    padding:1rem;
    color:black;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 15px;;
    text-align: justify;
    border:1px solid #CED3D7;
    border-radius: 10px;
    width: 100%;
}
.wc-migpayments-order-info-box .wc-migpayments-copy-to-clipboard{
    font-size:12px;

}

.wc-migpayments-alert-box{
    padding:1rem;
    display: flex;
    text-align: left;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 15px;;
    border:1px solid #FF0000;
    border-radius: 10px;
    width: 100%;
}
.wc-migpayments-alert-box svg{
    margin-right: 10px;
}
.wc-migpayments-alert-box h3, .wc-migpayments-alert-box label{
    color:#FF0000;
}
.wc-migpayments-remaining-amount{
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
     align-items: center;
     margin-top: 10px;
}
 
#wc-get-payment-data-form, #wc-payment-data-container{
    display: flex;
    justify-content: center;
   
}
#wc-get-payment-data-form .wc-main, #wc-payment-data-container .wc-main{
    max-width: 50%;
    margin-top: 30px;;
    margin-bottom: 30px;;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding:2em 2.2em;
   
}
#wc-payment-data-container .wc-main {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
#wc-migpayments-logo{
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.wc-migpayments-estimate{
    margin-top: 1rem;
    
    
}
.wc-migpayments-estimate p{
    margin:0px;
}
.wc-overpaid-modal {
    display:none;
	transition: all .3s ease-in;
	-moz-transition: all .3s ease-in;
	-webkit-transition: all .3s ease-in;
}

.wc-overpaid-modal.active {
    display: block;
	margin-top: 0px;
	visibility: visible;	
}

.wc-overpaid-modal-content {
	width: 70%;
    color:#3A4E5E;
	background: #FFF;
	max-width: 600px;
    margin: 70px auto;
	position: relative;
	border-radius: 10px;
    padding: 2em;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}
.wc-overpaid-modal-body{
    padding: 15px;;
    text-align: justify;
    font-weight: 500;
}

.wc-overpaid-modal-body p{
   margin-bottom: 0px;
}
.wc-overpaid-modal-body img{
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: 15px;
}
.wc-overpaid-modal-content a {
    color:#ff9800;
    font-weight: bold;
    text-decoration: none;
}
.wc-overpaid-modal-footer{
    text-align: center;
    padding-top: 15px;;
    padding-bottom: 15px;;
 
}
.wc-overpaid-modal-header{
    padding-top: 15px;;
    padding-bottom: 15px;;
    text-align: center;
 }
.wc-overpaid-modal-header h3{
    margin: 0 !important;;
}
.wc-overpaid-modal-close{
    color: #fff !important;
    background-color: #f7981d  !important; ;
    border-color: #f7981d !important; ;

    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent !important;
    padding: 0.375rem 0.75rem !important;
    font-size: 1rem !important;
    line-height: 1.5 !important;
    border-radius: 0.25rem  !important;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

@media screen and (min-width: 1024px) {

    #wc-payment-data-container .wc-main{
        min-width: 500px;
        width: 500px;
    }
   
}

@media screen and (max-width: 1024px) {
    #wc-migpayments-address-qr-code{
        
        max-width: 100% !important;
        max-height: 100% !important;
    }
    #wc-payment-wrapper{
        height: 100vh;
        font-size: 18px;
    }
    .wc-migpayments-payment-currency, .wc-migpayments-payment-blockchain{
        flex-direction: column;
     
    }
    .wc-migpayments-payment-currency p,  .wc-migpayments-payment-blockchain p {
        text-align: left;
    }
    div.wc-migpayments-payment-data{
        flex-direction: column;
    }
    #wc-get-payment-data-form .wc-main, #wc-payment-data-container .wc-main{
        min-width: 60%;
    }
}



 
@media screen and (max-width: 768px) {
    
    
    .wc-migpayments-crypto-estimate-wrapper{
        text-align: center;
    }
    #wc-payment-data-container .wc-main{
        height: auto;
        height: fit-content;
        min-width: 80%;


    }
}

@media screen and (max-width: 1200px) {
    #wc-payment-wrapper{
        height: 100vh;
        font-size: 16px;
    }
    
    .wc-migpayments-payment-item{
      width: 100%;
    }
    #wc-payment-data-container .wc-main{
        max-width: 50%;
        height: auto;
        height: fit-content;
        
    }
 
    .wc-migpayments-payment-items{
        width: 100%;
        margin:0;
    }
}

#wc-migpayments-currency-code, #wc-migpayments-blockchain{
    padding:10px;
    border-radius: 8px;
}

.full-width-bg::before{
    -webkit-backface-visibility:visible;
    backface-visibility:visible;	
    content: ' ';
    position: fixed;  
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: white;
    
    will-change: transform;  
    z-index: -1;
    
} 
.wc-migpayments-currency-select{
    text-align: center;
}

.wc-migpayments-error{
    color:red;
    margin-top: 0.5rem;
}
 

.wc-migpayments-loading {
    margin-top: 1rem;
    display: block;
    width: 50px;
    height: 50px;
    border: 3px solid #f7991d81;
    border-radius: 50%;
    border-top-color: #fff;
    animation: spinWCMig 1s ease-in-out infinite;
    -webkit-animation: spinWCMig 1s ease-in-out infinite;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
  }
  .wc-migpayments-loading-sm{
    
    display: block;
    width: 25px;
    height: 25px;
    border: 3px solid #f7991d81;
    border-radius: 50%;
    border-top-color: #fff;
    animation: spinWCMig 1s ease-in-out infinite;
    -webkit-animation: spinWCMig 1s ease-in-out infinite;
    margin-left: auto;
    margin-right: auto;

  }
  @keyframes spinWCMig {
    to { -webkit-transform: rotate(360deg); }
  }
  @-webkit-keyframes spinWCMig {
    to { -webkit-transform: rotate(360deg); }
  }

  .wc-migpayments-footer{
    text-align: center;
    width: 100%;
    padding-bottom:2rem;
  }
  #wc-migpayments-expiry-countdown{
    font-weight: bold;
  }