 #wc-migpayments-address-qr-code {
    margin-left:auto;
    margin-right:auto;
    border: 1px solid #eeee;
 }

 #wc-migpayments-review-order-button-wrapper {
 text-align: center;
 margin:1em;
 display: flex;
 justify-content: space-between;
}
#wc-migyments-review-order-button a, #wc-migyments-review-order-button a:hover, #wc-migyments-cancel-order-button a, #wc-migyments-cancel-order-button a:hover{
    text-decoration: none !important;
    font-size:14px;
}
#wc-migpayments-crypto-estimate-wrapper{
    margin-top: 1rem;
    margin-bottom:1rem;
}
#wc-migpayments-crypto-estimate-wrapper .wc-migpayments-currency-symbol{
   font-weight: bold;
}
#wc-migpayments-cancel-order-button{
    margin-right: 10px;
    background-color: #000000;
}
#wc-migpayments-review-order-button, #wc-migpayments-cancel-order-button{
    padding: 0.6180469716em 1.41575em;
    border-radius: 8px !important;
    color:#FFFFFF;
}
#wc-migpayments-review-order-button{
    background-color: #F7941E;
}
#wc-migpayments-primary{
    text-align: center;
}
 
#wc-migpayments-payment-data-title{
    font-size: 2.617924em;
    line-height: 1.214;
    letter-spacing: -1px;
}
.wc-migpayments-crypto-address-wrapper, .wc-migpayments-crypto-amount-wrapper{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}
#wc-mipgpayments-partial-payments{
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.back-button a{
    font-size: 13px;
    font-weight: 600;
}
.order-details {
    background-color: #f4f4f4;
    text-align: left;
    border-radius: 10px;
    padding:20px;
    position: relative;
}
/* .outer-card{
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    left: 18%;
} */
.order-card {
    background-color: #eaeaea;
    padding: 10px 20px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    /* width: 400px; */
}
.card-title {
    display: flex;
    justify-content: space-between;
}
.order-title p.name{
    margin: 0;
    font-weight: 600;
    color: #aaa;
    font-size: 20px;
}
.order-title .price{
    font-weight: bold;
    font-size: 30px;
    position: relative;
    top: -10px;
}
.product-title,.product-price {
    font-weight: 600;
}
.product-title a{
    text-decoration: none;
    color:#6d6d6d6d;
}
.card-meta{
    margin-bottom: 30px;
}
.meta {
    font-size: 12px;
    font-weight: 600;
    color: #aaa;
}
.card-title.total {
    padding: 10px 20px;
    border-top: 1px solid #a8a8a8;
    background-color: #eaeaea;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

 
.send-payment-top{
    text-align: left;
    padding: 0 20px;
}
.send-payment-top > p{
    font-weight: bold;
    margin-bottom: 2px;
}
.timer-main{
    display: flex;
    justify-content: space-between;
}
.time.meta{
    white-space: nowrap;
    border-radius: 50%;
    border: 1px solid #ff9800;
    width: 40px;
    height: 40px;
    display: flex;
     align-items: center;
    justify-content: space-between;
    justify-content: center;
    font-size: 10px;
}

#wc-migpayments-review-order-button{
    background-color: black !important;
    color: white;
}
.back-button+.order-title{
    margin-top: 20px;
}
.order-details+footer{
    background-color: #f4f4f4;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}
.footer-links a{
    color: #aaa;
    font-size: 14px;
}
 
.afg_databtn{
    text-align:right !important;
}
button.afg_bntcopy {
    font-size: 12px !important;
    padding: unset;
    color: black !important; 
    /* background: #eeee !important; */
    text-transform: capitalize !important;
    padding: 4px !important;
}		
            
.afg_crypto_address, .afg_currency_text, .afg_amountdata, .afg_cryptocode{
    text-align: left;
}

span.copy_clipbord {
    text-align: end !important;
    float: right;
}
span.copy_clipbord:hover {
    cursor: pointer;
}

span.wc-migpayments-crypto-amount-label {
    font-size: 16px;
    font-weight: 600;
}
span.wc-migpayments-crypto-address-label {
    font-size: 16px;
    font-weight: 600;
}
div#afg_maindiv {
    margin: 0px auto;
    background: #eeeeee;
    padding-top: 20px;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 15px;
    margin-bottom: 40px;
}
div#wc-migpayments-address-qr-code-wrapper {
    border-top: 1px solid #6d6d6d6d;
    border-bottom: 1px solid #6d6d6d6d;
}
div#wc-migpayments-payment-data {
    margin: unset;
}
.wc-migpayments-crypto-address-wrapper {
    border-bottom: 1px solid #6d6d6d6d;
    padding-bottom: 10px;
}
.wc-migpayments-crypto-amount-wrapper {
    padding-bottom: 10px;
    border-bottom: 1px solid #6d6d6d6d;}
 
i.afg_copyicon.fa.fa-clone {
    margin-right: 7px;
}
span.copy_clipbord {
    float: right;
} 
#total_crypto_amount{
    visibility: hidden;
}
#wc-migpayments-info-box{
    padding:1rem;
    padding-top: 0px;
    text-align: justify;
    color:red;

}
#wc-migpayments-info-box p{
    margin-bottom: 0px;
}
#wc-migpayments-info-box a{
    font-weight: bold;
    color:#000000;
}

.wc-migpayments-order-info-box{
    padding:1rem;
    color:black;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    width: 250px;
    margin-bottom: 20px;
    text-align: justify;
    
}
.wc-migpayments-order-info-box .copy_clipbord{
    font-size:12px;

}
.wc-migpayments-remaining-amount{
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding:10px;
}

.wc-migpayments-thefunded-trader-logo{
    width: 100px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
/* #overpaidModal a{
    color:#ff9800;
    font-weight: bold;
    text-decoration: none;
}
#overpaidModal .modal-title{
    width: 100%;
    text-align: center;
} */

.wc-overpaid-modal {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
    z-index: 9999;	
    overflow: auto;
	position: fixed;
    visibility: hidden;
	margin-top: -250px;
	background: rgba(0,0,0,.8);
	
	transition: all .3s ease-in;
	-moz-transition: all .3s ease-in;
	-webkit-transition: all .3s ease-in;
}

.wc-overpaid-modal.active {
	opacity: 1 !important;
	margin-top: 0px;
	visibility: visible;	
}

.wc-overpaid-modal-content {
	width: 70%;
   
	background: #FFF;
	max-width: 600px;
    margin: 70px auto;
	position: relative;
	border-radius: 8px;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}
.wc-overpaid-modal-body{
    padding: 20px;
    text-align: justify;
}

.wc-overpaid-modal-body p{
   margin-bottom: 0px;
}
.wc-overpaid-modal-body img{
    margin: auto;
    margin-bottom: 15px;
}
.wc-overpaid-modal-content a {
    color:#ff9800;
    font-weight: bold;
    text-decoration: none;
}
.wc-overpaid-modal-footer{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #eeeeee;

}
.wc-overpaid-modal-header{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    border-bottom: 1px solid #eeeeee;
}
.wc-overpaid-modal-header h3{
    margin: 0;
}
.wc-overpaid-modal-close{
    color:#333333 !important;
    background-color: transparent;
    border: none;
}